body {
    padding: 2.5% 10% 10% 5%;
    color: #3f3f3d; 
    font-family: 'Garamond';
}

h1 {
    font-size: xx-large;
}
h2 {
    font-size: x-large;
    margin-bottom: 5px;
}
.clickable {
    color: #d10b0d;
    text-decoration: underline;
    cursor: pointer;
}
.a-normal {
    font-size: small;
    color: #d10b0d;
}
.container-small {
    position: relative;
    width: 100%;
    display: flex;
}
#Kierkegaard0-oben {
    height: 80vh;
}
.container-header {
    text-align: center;
    padding-bottom: 10vh;
}
.container {
    position: relative;
    width: 100%;
    display: flex;
    gap: 5%; 
    flex-direction: row; /* unnötig, weil Default, aber damit ich es weiß.  */ 
    justify-content: flex-start; /* ebenso - an der Hauptachse (in meinem Fall horizontal, weil row ausgewählt*/
    align-items: flex-start; /* hier jetzt, wie an der vertikalen Achse */ 
}

@media (max-width: 500px) {
    .container {
        display: flex;
        gap: 5%; 
        /* On small screens, we are no longer using row direction but column */
        flex-direction: column;
    }
    #Kierkegaard0-oben {
        height: 60vh;
        width: auto;
    }
    .container-header {
        text-align: center;
        padding-bottom: 25vh;
        padding-top: 15vh;
    }
  }

.item {
    height: auto;
    flex-direction: row; 
}

.item-skizze {
    flex-direction: column;
    height: auto;
}

div {
    margin: 5px; 
}

/*Wenn die Breite des Screens kleiner als 600px, soll mein Bild größer ausgegeben werden */
@media (max-width: 600px) {
    img {
        height: auto; 
        width: 80vw;
        border: 0px;
    }

    body {
        padding: 1.25% 5% 5% 2.5%;
        color: #3f3f3d; 
    }

}

@media (min-width: 600px) {
    img {
        height: 40vh;
        width: auto;
        border: 10px;
    }
}
