body {
    padding: 5% 10% 10% 5%;
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
}
h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: medium;
    margin-bottom: 5px;
}
.clickable {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}
p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.a-normal {
    font-size: small;
}
div {
    padding: 10px;
}

img {
    width: 75%;
    height: 75%;
    border: 10px;
}